.App {
  background-image: url("https://wallpapercave.com/wp/wp2700986.jpg");
  height: 137vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top:-50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{width: 100%;
display: flex;
padding: 0;
margin: 0;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
.col-13{width: 11.5% ;
  padding: 10 ;
  
  font-size: 11px;
  
}




button{
  padding: 10px 10px;
  width: 150px;
}


buttonb{
  padding: 10px 10px;
  width: 50px;
}

/* button:hover{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;
  border-radius: 5px;
  background:yellow;
  color: black;
  width: 200px;
  height: 50px;
  margin-right: 10px;
} */


input{
  margin-right: 10px;
  margin-top: 20px;
}

.Box{
  width: 1000px;
  height: 400px;
  background : rgba(183, 175, 255, 0.692);
  margin-bottom: 50vh;
  margin-top: 20vh;
  margin-left: 250px;
  margin-right: 100px;
  border-radius: 30px;
  text-align: center;
}
.slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  text-align: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

input[type="number"]{
  width: 15%;
}

  input[type="range" ][orient=vertical]
  {
      
      -webkit-appearance: slider-vertical; /* WebKit */
      width: 1 px;
      height: 100px;
      padding: 1px;
      margin: 2px;
      font:1px;
  }

h1{
  text-align: center;
  text-transform:uppercase;
  color:white;
  text-indent:60px;
  width: center;
  height: 50px;
  
  text-decoration: none;
  
}

nav{
  text-align: center;
  font-size: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;

}

.Page2{
  background-image: url("./Music/icon.png");
  text-align: center;
  font-size: center;
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  margin-left: 430px;
  
  
}

.Thebox{
width: 1000px;
  height: 500px;
  background : rgba(183, 175, 255, 0.692);
  margin-bottom: 50vh;
  margin-top: 10vh;
  margin-left: 200px;
  margin-right: 100px;
  border-radius: 30px;
  text-align: center;

}

.Bottom{
  text-align: center;
  font-size: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 80px;

}

.card{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: rgba(183, 175, 255, 0.39);
  border-radius: 0px 0px 40px 40px;
}
